
<!--<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>-->


<center>
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item"><%= image_tag "himachal.jpg" %></div>
            <div class="item"><%= image_tag "andaman.jpg" %></div>
            <div class="item"><%= image_tag "sand_dunes.jpg" %></div>
            <div class="item"><%= image_tag "meerut.jpg" %></div>
            <div class="item"><%= image_tag "mehendi.jpg" %></div>
            <div class="item"><%= image_tag "srinagar.jpg" %></div>
            <!--<div class="item"><%= image_tag "thar.jpg" %></div>-->
            <div class="item"><%= image_tag "sunsets.jpg" %></div>
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</center>

    <br>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <br>

<center><iframe width="560" height="315" src="http://www.youtube.com/embed/m_AREWFSwdA" frameborder="0" allowfullscreen></iframe></center>

<hr>
<br>
<center><h4>Upcoming Events</h4></center>
<br>
<table class = "table table-striped">
  <!--<tr>
    <th>Name</th>
    <th>Date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>-->

<% @events.each do |event| %>

 <h6><%= event.name %></h6>
    
    <hr>
    <p><%= truncate_html event.description.to_s.html_safe, :length => 20 %>...
    <%= link_to "Read more", event_path(event) %></p>
  <br>
</table>

<% end %>
<br>
<hr>
<br>
<center><h4>Special Offers</h4></center>
<br>
<table class="table table-striped">

    <% @deals.each do |deal| %>

    <h6><%= deal.title %></h6>

        <hr>
        <p><%= truncate_html deal.description.html_safe, :length => 20 %>...
            <%= link_to "Read more", deal_path(deal) %></p>

</table>

<% end %>